@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Urbanist", sans-serif;
    
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 196 70% 18%;
    --primary-foreground: 210 40% 98%;

    --secondary: 142 47% 62%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 196 70% 18%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-gray-100 text-foreground min-h-screen;
  }

  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:opacity-90 transition-all;
  }

  .btn-secondary {
    @apply bg-secondary text-white px-4 py-2 rounded-md hover:opacity-90 transition-all;
  }

  .card {
    @apply bg-white p-6 rounded-lg shadow-md;
  }
  
  .menu-item {
    @apply flex items-center font-medium text-white hover:text-secondary transition-colors tracking-wide;
  }
}
